

html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    background-image: linear-gradient(#3ffba7 0%, #fc46d9 100%)
}
#fh {
    width: 25%;
    border-radius: 50%;

}
.line{
    
    height:6px;
    background-color: black;
    width:120px;
    margin: 8px auto;

    
}



.menu{
list-style:none;
    position:fixed;
    top: 0px;
  
    z-index:10;

    background-color: cyan;
    width: 100%;
    margin-top: 0px;  
}

.links{

display: inline;
color:black;

 padding-left: 33px;

padding-right: 25px;

font-family:cursive;

    font-size: 20px
}
.Links:hover{
   color:snow;
    font-size:25px;
}


#my {
    width: 15%;
    height: 50%;
    border-radius: 25%;

}

.g {
    transition: transfrom .2s;

}

.g:hover {
    transform: scale(.9);
}
h1{
    font-size:40px;
}
#im{
    width:20%;
    height: 30%;
}
    #im {
    transition: transfrom .2s;
    }


#im:hover {
    transform: scale(.9);
}
p{
    font-size: 30px;
}
#welcome{

    height: 800px;
    
   color:snow;
   
    background:linear-gradient(#38ffca 0%,#f800fc 100%);
   
    width:100% ;
    height:100%;
 
}
.contact1 h3 {
    display: inline;
    font-size: 25px
}
.contact1 a{
    color:blue;
    text-shadow:none;
    
}
#contact{
    background-color: aqua;
    
}

